body {
	font-size: 135%;
}

form {
	background-color: #e2bba8;
	padding: 1em;
}
input, button {
	font-size: 100%;
}
input::placeholder {
	color: hotpink;
	/* background-color: lightgray; */
}
/* input[type="text"] {
	min-width: 20em;
} */
input:invalid {
	/* background-color: pink; */
	border-right: 0.5em solid red;
}
input:valid {
	border-right: 0.5em solid rgb(16, 117, 16);
}

.error-message {
	visibility: hidden;
	/* display: none; */
	margin: 0em;
	font-size: 90%;
	color: rgb(117, 16, 16);
}
input:invalid + .error-message {
	visibility: visible;
	/* display: block; */
}



label {
	font-weight: bold;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
	font-weight: normal; /* unset går också */
}

.form-layout {
	display: flex;
	flex-direction: column;
	padding: 0.5em 0em;
	border: 2px dotted black;
}
input[type="checkbox"] {
	/* Väldigt lite styling fungerar på en checkbox */
	/* border: 4px dashed red;
	padding: 1em;
	display: block; */
	
}

button:hover,
input[type="checkbox"]:hover,
input[type="checkbox"] + label:hover,
input[type="radio"]:hover,
input[type="radio"] + label:hover {
	cursor: pointer;
}

/* 
x y    <- släkting, ancestor/descendant
x > y  <- barn, parent/child
x + y  <- syskon, sibling (direkt efter)
x ~ y  <- syskon (flera steg
*/


/* Pure CSS menu */
.actual-menu {
	visibility: hidden;
}
#toggle-menu:checked + .actual-menu {
	visibility: visible;
}